name: Getting-started-usecase

on:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # tag=v0.14.0

      - name: Setup getting-started usecase
        run: |
          devbox run -- make setup-getting-started

      - name: Verify getting-started usecase
        run: |
          devbox run -- make wait-ready-getting-started-usecase tryout-getting-started-usecase
